/* A font by Jos Buivenga (exljbris) -> www.exljbris.nl */

/* Typefaces
-----------------------------------------------
Fonts by Jos Buivenga (exljbris) -> www.exljbris.nl
-----------------------------------------------*/
@font-face {
	font-family: "Museo Sans 500";
	src: url(MuseoSans_500.otf) format("opentype");
	}
@font-face {
	font-family: "Museo Sans 500 Italic";
	font-style: italic;
	src: url(MuseoSans_500_Italic.otf) format("opentype");
	}
@font-face {
	font-family: "Museo 300";
	src: url(Museo300-Regular.otf) format("opentype");
	}
@font-face {
	font-family: "Museo 500";
	src: url(Museo500-Regular.otf) format("opentype");
	}
@font-face {
	font-family: "Museo 700";
	src: url(Museo700-Regular.otf) format("opentype");
	}

/* Style ______________________________*/

body {
	background: #000 url(/css/images/pagebg.png) repeat-x;
 	padding: 20px 5px 25px;
	font-family: "Museo Sans 500", Arial, Helvetica, sans-serif;
	color: #333;
	}

a {
	color: #15482c;
	outline: 0 none;

	}

h2 {
	color: #404040;
	font-family: "Museo 500", Helvetica,"Helvetica Neue",Arial,Geneva,sans-serif;
	font-size: 22px;
	}

h2.title {
	margin: 25px 0 10px 0;
	}

h2.title a {
	color: #fff;
	text-decoration: none;
	}

h2.title a:active {
	color: #15482c;
}

h3 {
  font-size: 18px;
  font-weight: normal;
  text-decoration: underline;
}

#sidebar a {
	color: #8dc7a7;
	text-decoration: none;
	}

#sidebar a:hover {
	color: #575757;
	background: #8dc7a7;
	}

#sidebar a:active {
	color: #15482c;
	background: #8dc7a7;
	}

.read-more {
	font-size: 12px;
}

#content-wrapper {
	width: 740px;
	margin: 0 auto;
	}

#header {
	background: url(/css/images/headersplit.png) left bottom no-repeat;
	padding: 0 0 2px 0;
	}

body#post #header {
	background: transparent;
	padding: 0;
	}

.highlight {
	display: block;
	overflow: auto;
	padding-left: 15px;
	border-left: 2px solid #2f8359;
	background: #fff;
	height: 100%;
	}

h1#page-title {
	margin: 0;
	padding: 0;
	}

h1#page-title a {
	text-indent: -5000em;
	background: url(/css/images/logo.png) bottom left no-repeat;
	display: block;
	width: 730px;
	height: 66px;
	}

h1#page-title a:focus {
	outline: none;
	}

body#post h1#page-title {
	height: 66px;
	}

p#intro{
	padding: 10px 20px 20px 20px;
	margin: 0;
	background: transparent url(/css/images/head_bg.png) top left repeat-y;
	color: #fff;
	font-size: 14px;
	}

#intro img{
	float: left;
	padding: 0 20px 0 10px;
	}

span.hello{
	font-size: 34px;
	display: block;
	}



#content {
	float: left;
	background: url(/css/images/content_bg.png) top left repeat-y;
	}

body#post #content{
  width: 680px;
	background: #ddd url(/css/images/post_grad.png) top left repeat-x;
	padding: 0 20px 20px;
	margin: 0 10px;
	float:left;
	}

#blog {
	float:left;
	background: url(/css/images/blog_grad.png) top left no-repeat;
	}

.posts {
	padding: 0;
	margin: 0;
	}

.posts h2{
  }

h2.title {
  font-weight: normal;
}

h2.title a{
	background: #2f8359;
	padding: 5px 20px 5px 30px;
	text-decoration: none;
	}

h2.title a:hover{
	padding: 5px 20px 5px 24px;
	margin: 0 0 0 6px;
	}

.posts p{
	padding: 10px 0 20px;
	margin: 0 20px 0 30px;}

#twitter_div {
	  }

ul#twitter_update_list {
	list-style: none;
	font-size: 14px;
	padding: 0;
}

ul#twitter_update_list li {
	padding: 10px 20px;
	color: #aaa;
	font-family: "Museo 300"
	}

ul#twitter_update_list li > a {
	display: block;
	text-decoration: none;
	font-style: normal;
}


#sidebar {
  width: 263px;
  background: url(/css/images/sidebargrad.png) top left repeat-x;
  float: left;
  margin: 0 10px 0 1px;
  overflow: auto;
}

h3.sidebar-title {
	margin: 20px 0 0 20px;
	padding: 0 20px 0 0;
	font-family: "Museo 300";
	font-weight: normal;
	letter-spacing: 1px;
	line-height: 24px;
	text-indent: 50px;
	color: #ddd;
	background: url(/css/images/twitterbird.png) top left no-repeat;
	}

a.home {
  float:left;
  height: 17px;
	padding-left: 24px;
	background: url(/css/images/arrow.png) top left no-repeat;
	color: #2f8359;
	text-decoration: none;
	}

a.home:hover {
	padding-left: 24px;
	background-position:0 -17px;
	color: #15482c;
	text-decoration: none;
	}

a.home:active {
	margin-left: -2px;
	}

#footer {
  clear: both;
	background: transparent url(/css/images/content_bottom.png) top left no-repeat;
	text-align: right;
	padding: 10px 30px 20px;
	font-size: 12px;
	}

#footer a{
	color: #15482c;
	text-decoration: none;
	padding-left: 5px;
	}

#footer a:hover{
	color: #8dc7a7;
	}

#footer a:active{
	color: #000;
	}

ul.posts {
	list-style:none;
	width: 600px;
}

ul.posts li > p {

}

ul.posts li > h3 {

}
