
body {
   background: #333;
   padding: 10px 5px 25px;
   font-family: Helvetica,Arial,sans-serif;
   color: #333;
}

a {
   color: #2f8359;
   outline: 0 none;
}

h1 {
   font-size: 48px;
   font-family: Helvetica,Arial,sans-serif;
}

h2 {
   color: #404040;
   font-family: Helvetica,Arial,sans-serif;
   font-size: 22px;
}

h2.title {
   margin: 25px 0 10px 0;
}

h2.title a {
   color: #fff;
   text-decoration: none;
}

h2.title a:active {
   color: #15482c;
}

h3 {
   font-size: 18px;
   font-weight: normal;
   text-decoration: none;
}

#content-wrapper {
   width: 740px;
   margin: 0 auto;
}

#page-header {
   margin-bottom: 0;
   margin-left: 16px;
}

#page-header a {
   text-decoration: none;
}

#content {
   width: 680px;
   background: #e0e0e0;
   padding: 0 20px 20px;
   margin: 0 10px;
   float:left;
   line-height: 140%;
}

.posts {
   padding: 0;
   margin: 0;
}

h2.title {
   font-weight: normal;
}

h2.title a {
   background: #2f8359;
   padding: 5px 20px 5px 30px;
   text-decoration: none;
}

h2.title a:hover {
   padding: 5px 20px 5px 24px;
   margin: 0 0 0 6px;
}

.posts p {
   padding: 10px 0 20px;
   margin: 0 20px 0 30px;
}

a.home {
   float:left;
   height: 17px;
   padding-left: 24px;
   background: url(/css/images/arrow.png) top left no-repeat;
   color: #2f8359;
   text-decoration: none;
   font-weight: bold;
}

a.home:hover {
   padding-left: 24px;
   background-position:0 -17px;
   color: #15482c;
   text-decoration: none;
}

a.home:active {
   margin-left: -2px;
}

#header {
   /* margin: 0; */
   background: transparent url(/css/images/content_top.png) top left no-repeat;
   width: 730px;
   height: 22px; 
   text-align: left;
   padding: 10px 20px 0px;
   margin-bottom: 0;
   font-size: 12px;
   color: #15482c;
}

#header a {
   color: #8dc7a7;
   text-decoration: none;
}

#header a:hover {
   color: #15482c;
}

#header a:active {
   color: #000;
}

#footer {
   clear: both;
   color: #222222;
   margin: 0;
   background: transparent url(/css/images/content_bottom.png) top left no-repeat;
   text-align: right;
   padding: 10px 20px;
   font-size: 12px;
}

#footer a {
   color: #8dc7a7;
   text-decoration: none;
}

#footer a:hover {
   color: #15482c;
}

#footer a:active {
   color: #000;
}

ul.posts {
   list-style:none;
   width: 600px;
}
